Repository kovurusaisachin/AllyGator, pull requests merged in 2022-03, with the labels that each got.

#78 Faculty api
  Backend/controller/faculty.go
  Backend/main.go
  Backend/routers/api/faculty.go
Labels: back-end, api

#81 Forum screen
  Frontend/allygator_frontend/components/forumCard/index.tsx
  Frontend/allygator_frontend/components/sidebar/index.tsx
  Frontend/allygator_frontend/pages/dashboard/forum/[slug]/index.tsx
  Frontend/allygator_frontend/pages/dashboard/forum/index.tsx
  Frontend/allygator_frontend/pages/dashboard/miscellaneous/index.tsx
Labels: User-story, ui-design, front-end

#84 Sachin dev-2
  Backend/routers/api/faculty_test.go
Labels: back-end

#85 Maitreyi dev
  Backend/routers/api/course_test.go
Labels: back-end

#87 Cypress test
  Backend/allygator.db
  Frontend/allygator_frontend/components/sidebar/index.tsx
  Frontend/allygator_frontend/cypress/fixtures/connectionList.json
  Frontend/allygator_frontend/cypress/fixtures/example.json
  Frontend/allygator_frontend/cypress/fixtures/profile.json
  Frontend/allygator_frontend/cypress/integration/1-getting-started/todo.spec.js
  Frontend/allygator_frontend/cypress/integration/2-advanced-examples/actions.spec.js
  Frontend/allygator_frontend/cypress/integration/2-advanced-examples/aliasing.spec.js
  Frontend/allygator_frontend/cypress/integration/2-advanced-examples/assertions.spec.js
  Frontend/allygator_frontend/cypress/integration/2-advanced-examples/connectors.spec.js
  Frontend/allygator_frontend/cypress/integration/2-advanced-examples/cookies.spec.js
  Frontend/allygator_frontend/cypress/integration/2-advanced-examples/cypress_api.spec.js
  Frontend/allygator_frontend/cypress/integration/2-advanced-examples/files.spec.js
  Frontend/allygator_frontend/cypress/integration/2-advanced-examples/local_storage.spec.js
  Frontend/allygator_frontend/cypress/integration/2-advanced-examples/location.spec.js
  Frontend/allygator_frontend/cypress/integration/2-advanced-examples/misc.spec.js
  Frontend/allygator_frontend/cypress/integration/2-advanced-examples/navigation.spec.js
  Frontend/allygator_frontend/cypress/integration/2-advanced-examples/network_requests.spec.js
  Frontend/allygator_frontend/cypress/integration/2-advanced-examples/querying.spec.js
  Frontend/allygator_frontend/cypress/integration/2-advanced-examples/spies_stubs_clocks.spec.js
  Frontend/allygator_frontend/cypress/integration/2-advanced-examples/traversal.spec.js
  Frontend/allygator_frontend/cypress/integration/2-advanced-examples/utilities.spec.js
  Frontend/allygator_frontend/cypress/integration/2-advanced-examples/viewport.spec.js
  Frontend/allygator_frontend/cypress/integration/2-advanced-examples/waiting.spec.js
  Frontend/allygator_frontend/cypress/integration/2-advanced-examples/window.spec.js
  Frontend/allygator_frontend/cypress/integration/connectionListMock.spec.js
  Frontend/allygator_frontend/cypress/integration/dashboard.spec.js
  Frontend/allygator_frontend/cypress/integration/home.spec.js
  Frontend/allygator_frontend/cypress/integration/login.spec.js
  Frontend/allygator_frontend/cypress/integration/profileDataMock.spec.js
  Frontend/allygator_frontend/cypress/integration/registeration.spec.js
  Frontend/allygator_frontend/pages/dashboard/profile/index.tsx
  Frontend/allygator_frontend/pages/login.tsx
  Frontend/allygator_frontend/pages/signup.tsx
Labels: front-end

#97 Frontend auth
  Backend/allygator.db
  Frontend/allygator_frontend/components/cometChatNoSSR/index.tsx
  Frontend/allygator_frontend/components/profileCard/index.tsx
  Frontend/allygator_frontend/pages/dashboard/index.tsx
  Frontend/allygator_frontend/pages/dashboard/profile/index.tsx
  Frontend/allygator_frontend/pages/login.tsx
  Frontend/allygator_frontend/pages/signup.tsx
Labels: front-end

#102 Dashboard func
  Backend/allygator.db
  Frontend/allygator_frontend/components/Table/index.tsx
  Frontend/allygator_frontend/components/cometChatNoSSR/index.tsx
  Frontend/allygator_frontend/components/constant/index.tsx
  Frontend/allygator_frontend/pages/dashboard/chat/index.tsx
  Frontend/allygator_frontend/pages/dashboard/index.tsx
  Frontend/allygator_frontend/pages/login.tsx
Labels: front-end
