Repository kovurusaisachin/AllyGator, pull requests merged in 2022-02, with the labels that each got.

#17 Homepage
  .DS_Store
  Frontend/.DS_Store
  Frontend/allygator_frontend/next-env.d.ts
  Frontend/allygator_frontend/package-lock.json
  Frontend/allygator_frontend/package.json
  Frontend/allygator_frontend/pages/_app.js
  Frontend/allygator_frontend/pages/api/auth/[...nextauth].tsx
  Frontend/allygator_frontend/pages/index.js
  Frontend/allygator_frontend/pages/index.tsx
  Frontend/allygator_frontend/styles/globals.css
  Frontend/allygator_frontend/tailwind.config.js
  Frontend/allygator_frontend/tsconfig.json
Labels: front-end

#18 Page structure
  Frontend/allygator_frontend/pages/login/index.tsx
  Frontend/allygator_frontend/pages/signup/index.tsx
Labels: front-end

#23 component added
  Frontend/allygator_frontend/components/sidebar/sidebar.tsx
  Frontend/allygator_frontend/pages/dashboard/index.tsx
Labels: enhancement

#24 Dashboard
  Frontend/allygator_frontend/components/analyticCard/analyticCard.tsx
  Frontend/allygator_frontend/components/sidebar/sidebar.tsx
  Frontend/allygator_frontend/package-lock.json
  Frontend/allygator_frontend/package.json
  Frontend/allygator_frontend/pages/dashboard/index.tsx
  Frontend/allygator_frontend/pages/index.tsx
Labels: enhancement, front-end

#28 Frontend updates
  Frontend/allygator_frontend/components/Table/index.tsx
  Frontend/allygator_frontend/components/analyticCard/analyticCard.tsx
  Frontend/allygator_frontend/components/analyticCard/index.tsx
  Frontend/allygator_frontend/components/profileCard/index.tsx
  Frontend/allygator_frontend/components/sidebar/index.tsx
  Frontend/allygator_frontend/components/sidebar/sidebar.tsx
  Frontend/allygator_frontend/pages/dashboard/index.tsx
  Frontend/allygator_frontend/pages/dashboard/profile/index.tsx
  Frontend/allygator_frontend/pages/login.tsx
  Frontend/allygator_frontend/pages/signup.tsx
Labels: ui-design, front-end

#29 Component building
  Frontend/allygator_frontend/components/forumCard/index.tsx
  Frontend/allygator_frontend/package-lock.json
  Frontend/allygator_frontend/pages/dashboard/Chat/index.tsx
  Frontend/allygator_frontend/pages/dashboard/Connection/index.tsx
  Frontend/allygator_frontend/pages/dashboard/forum/index.tsx
Labels: ui-design, front-end

#32 login done
  Frontend/allygator_frontend/pages/login.tsx
Labels: bug

#33 Homepage Done
  Frontend/allygator_frontend/pages/index.tsx
Labels: front-end

#44 Some improvement
  Frontend/allygator_frontend/components/forumCard/index.tsx
  Frontend/allygator_frontend/components/profileCard/index.tsx
  Frontend/allygator_frontend/pages/dashboard/Connection/index.tsx
Labels: front-end

#64 Dashboard bug
  Frontend/allygator_frontend/components/sidebar/index.tsx
  Frontend/allygator_frontend/pages/dashboard/index.tsx
Labels: bug
